<div class="con">
    <app-registration>
        <div class="auth-col">
            <div class="auth-form__wrapper">
                <div class="auth-form">
                    <div class="auth-form__heading">
                        <h3 class="title">Sign in</h3>
                        <p class="description">Welcome back to </p>
                    </div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input class="input" type="email" matInput [formControl]="emailFormControl"
                                [errorStateMatcher]="matcher" placeholder="Email">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" class="input" type="password" [formControl]="password">
                        </mat-form-field>
                        <app-button (clicker)="onSubmit()" [text]="'Sign In'">
                        </app-button>
                    </form>
                    <br>
                    <div style="color:white">Not Registered? <a [routerLink]="'/registration'">click here</a></div>
                </div>
            </div>
        </div>
    </app-registration>
</div>