<!-- <div class="app-wrapper">
    <div class="nav-bar _flex a-center j-between">
        <div class="search-bar _flex a-center">
            <i class="fas fa-search search-bar__icon"></i>
            <input type="text" placeholder="Search for a Process">
        </div>
        <div class="_flex a-center">
            <a class="nav-bar__link" href="#/">Home</a>
            <a class="nav-bar__link active" href="#/profile?pay=true">Payment</a>
            <a class="nav-bar__link" href="#/team">My Team</a>
            <div class="mini-modal-button nav-bar__link" mat-button [matMenuTriggerFor]="help">Help</div>
            <mat-menu #help="matMenu">
                <a href="/learn/" target="__blank" mat-menu-item class="tag">Get Support</a>
                <a href="/learn/" target="__blank" mat-menu-item class="tag">Learn the Basics</a>
            </mat-menu>            
            <div class="mini-modal-button nav-bar__profile-button _flex a-center">
                <div class="_flex" mat-button [matMenuTriggerFor]="menu">
                    <span class="profile-picture" style="background-color: rgb(242, 58, 24);">DO</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item class="tag">My Account</a>
                    <button mat-menu-item>Sign Out</button>
                </mat-menu>
            </div>
        </div>
    </div> -->