html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}
.mat-dialog-container{
    background-color: white;
}

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
 @import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';