<div class="app-container animation--fade-up _small">
    <div class="app-wrapper">
        <div class="base-permission--header">
            <div class="base-permission__row">
                <div class="base-permission__col--long _flex a-center">Name</div>
                <div class="base-permission__col--long-x">
                    <div class="base-permission__col">Account Type</div>
                    <div class="base-permission__col" data-hide="false">Access</div>
                    <div class="base-permission__col--small"></div>
                </div>
            </div>
        </div>
        <div class="base-permission _card">
            <div class="base-permission__row">
                <div class="base-permission__col--long _flex a-center">
                    <span class="base-permission__avatar" style="background: rgb(13, 63, 196);">CS</span>
                    <div class="text">
                        <p class="base-permission__name">Chidi Samuel <span class="role">(CEO)</span></p>
                        <p class="base-permission__email">chidisamuel16@gmail.com</p>
                    </div>
                </div>
                <div class="base-permission__col--long-x">
                    <div class="base-permission__col">
                        <p class="base-permission__faint-text">Owner</p>
                    </div>
                    <div class="base-permission__col" data-hide="false">
                        <p class="base-permission__faint-text">All</p>
                    </div>
                    <div class="base-permission__col--small">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>